h1 {font-size: 40px;
}
     h2, header {border: 4px solid black;
            text-align: center;
}
         h1,h2,h3 {font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
}

             #sa {background-color: rgb(207, 196, 196);
                   border: 4px solid black;
                   margin: auto;             
                   margin-top: 1px;
                   width: 760px;
                   


                  }
             #bh {background-color: rgb(237, 145, 145);}
             #a {background-color: brown; }
             #b {background-color: blanchedalmond;}
             #c {background-color: rgb(114, 100, 100);
                 margin: 0;
          }
        .pr {border: 1px solid black; 
              padding: 10px; 
             text-decoration: none;
             text-transform: uppercase;
             font-family: Arial, Helvetica, sans-serif; 
             border-radius: 10px; 
         
            }  
                                    #ba {background-color: rgb(33, 177, 177); 
                                         
                                   }
                                    #bb {background-color: rgb(114, 109, 109);
                                         float: 10000px, left;
                                   }
                                    #bc {background-color: rgb(62, 168, 62);}
                                    #bd {background-color: gainsboro;}
                                    #bf {background-color: rgb(201, 151, 198);}
                                    img {width: 760px;
                                         
                                    }
